<!--<p>
  <mat-toolbar color="primary">
    <button mat-button (click)="drawer.toggle()"  aria-label="E">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    
  </mat-toolbar>
</p>

<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="side">I'm a drawer ..........</mat-drawer>
  
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-button (click)="drawer.toggle()"  aria-label="E">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>-->

<app-menu></app-menu>

<div class="contenedor"> 
  <router-outlet></router-outlet>
</div>
