<h2>Crear Cliente</h2>

<form autocomplete="off" (submit)="guardarCambios(frm)" #frm="ngForm">
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="dataRef.name" name="name" #name="ngModel"
      [class.is-invalid]="name.touched && name.invalid" required />

    <mat-error *ngIf="frm.invalid">El nombre es requerido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Celular</mat-label>
    <input matInput [(ngModel)]="dataRef.phone" name="phone" #phone="ngModel" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Direccion</mat-label>
    <input matInput [(ngModel)]="dataRef.address" name="address" #name="ngModel"/>
  </mat-form-field>

  <div>
    <button mat-flat-button color="primary" [disabled]="frm.invalid">

      <mat-icon>
        save
      </mat-icon>
      Guardar Cambios
    </button>

    <a style="margin-left: 5px;" mat-stroked-button (click)="onNoClick()">
      Cancelar
    </a>
  </div>
</form>
